*, *::before, *::after {
	margin: 0;
	padding: 0;
}
* {
	box-sizing: border-box;
	font-family: "helvetica", sans-serif;
}
body {
	background: black;
}
.container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.miniContainer {
	width: 40%;
	min-height: 45%;
	border-radius: 1vw;
	background: #121212;
	color: white;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 1vw;
}
.advice-number {
	text-align: center;
	padding: 3vw 0 0 0;
	font-size: 1.5vw;
	color: yellow;
	font-weight: bold;
	text-shadow: 0 0 2px yellow;
}
h1 {
	font-size: 2vw;
	text-align: center;
	padding: 1vw;
}
.border {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1vw 3vw;
}
.border img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.button {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width: 5vw;
	height: 5vw;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	background: hsl(60, 100%, 50%, 1.0);
	cursor: pointer;
	transition: 0.3s;
}
.button img {
	display: block;
	width: 40%;
	height: 100%;
	object-fit: contain;
	transition: 0.3s;
}
.button:hover img {
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
}
.button:hover {
	box-shadow: 0 0 2vw hsl(60, 100%, 50%, 1.0);
}
.particle-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	overflow: hidden;
}
.particle {
	width: 5px;
	height: 5px;
	background: rgba(0, 255, 0, 1.0);
	border-radius: 50%;
	position: absolute;
}
.particle:nth-child(1) {
	top: 20%;
	left: 20%;
	animation: myanime infinite 1s alternate;
}
.particle:nth-child(2) {
	top: 10%;
	left: 10%;
	animation: myanime infinite 3s alternate;
}
.particle:nth-child(3) {
	top: 30%;
	left: 15%;
	animation: myanime infinite 2s alternate;
}
.particle:nth-child(4) {
	top: 40%;
	left: 10%;
	animation: myanime infinite 2s alternate;
}
.particle:nth-child(5) {
	top: 20%;
	left: 50%;
	animation: myanime infinite 3s alternate;
}
.particle:nth-child(6) {
	top: 20%;
	right: 20%;
	animation: myanime infinite 4s alternate;
}
.particle:nth-child(7) {
	top: 10%;
	right: 10%;
	animation: myanime infinite 2s alternate;
}
.particle:nth-child(8) {
	top: 30%;
	right: 15%;
	animation: myanime infinite 3s alternate;
}
.particle:nth-child(9) {
	top: 40%;
	right: 10%;
	animation: myanime infinite 2s alternate;
}
.particle:nth-child(10) {
	top: 50%;
	right: 20%;
	animation: myanime infinite 4s alternate;
}
.particle:nth-child(11) {
	top: 10%;
	left: 40%;
	animation: myanime infinite 2s alternate;
}
.particle:nth-child(12) {
	top: 20%;
	right: 40%;
	animation: myanime infinite 5s alternate;
}
.particle:nth-child(13) {
	bottom: 30%;
	left: 15%;
	animation: myanime infinite 1s alternate;
}
.particle:nth-child(14) {
	bottom: 10%;
	left: 25%;
	animation: myanime infinite 5s alternate;
}
.particle:nth-child(15) {
	bottom: 30%;
	right: 15%;
	animation: myanime infinite 6s alternate;
}
.particle:nth-child(16) {
	bottom: 30%;
	right: 25%;
	animation: myanime infinite 7s alternate;
}
.particle:nth-child(17) {
	bottom: 10%;
	right: 15%;
	animation: myanime infinite 8s alternate;
}
.particle:nth-child(18) {
	bottom: 20%;
	right: 50%;
	animation: myanime infinite 6s alternate;
}
.particle:nth-child(19) {
	bottom: 10%;
	right: 45%;
	animation: myanime infinite 3s alternate;
}
.particle:nth-child(20) {
	bottom: 15%;
	right: 60%;
	animation: myanime infinite 2s alternate;
}
@keyframes myanime {
	0% {
		transform: translate(10px);
		-webkit-transform: translate(10px);
		opacity: 0;
		box-shadow: 0 0 5px 3px rgba(0, 200, 0, 1.0);
	}
	25% {
		transform: translate(10px);
		-webkit-transform: translate(10px);
		opacity: 0.25;
		box-shadow: 0 0 1px 3px rgba(0, 220, 0, 1.0);
	}
	50% {
		transform: translate(10px, 20px);
		-webkit-transform: translate(10px, 20px);
		opacity: 0.5;
		box-shadow: 0 0 5px 3px rgba(0, 255, 0, 1.0);
	}
	75% {
		transform: translate(20px, 30px);
		-webkit-transform: translate(20px, 30px);
		opacity: 0.75;
		box-shadow: 0 0 1px 3px rgba(0, 210, 0, 1.0);
	}
	100% {
		transform: translate(20px, 20px);
		-webkit-transform: translate(20px, 20px);
		opacity: 1;
		box-shadow: 0 0 5px 3px rgba(0, 255, 0, 1.0);
	}
}

@media screen and (orientation: portrait) {
	.container {
		padding: 2vh;
	}
	.miniContainer {
		width: 100%;
		min-height: 40%;
		border-radius: 1vh;
		gap: 2vh;
	}
	.advice-number {
		text-align: center;
		padding: 5vh 0 0 0;
		font-size: 2vh;
		color: yellow;
		font-weight: bold;
		text-shadow: 0 0 2px yellow;
	}
	h1 {
		font-size: 3vh;
		text-align: center;
		padding: 1vh;
	}
	.border {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 2vh;
		background: url(images/pattern-divider-mobile.svg) no-repeat center;
		background-size: 90%;
	}
	.border img {
		display: none;
	}
	.button {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		width: 7vh;
		height: 7vh;
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		background: hsl(60, 100%, 50%, 1.0);
		cursor: pointer;
		transition: 0.3s;
	}
	.button img {
		display: block;
		width: 40%;
		height: 100%;
		object-fit: contain;
		transition: 0.3s;
	}
	.button:hover img {
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
	}
	.button:hover {
		box-shadow: 0 0 2vh hsl(60, 100%, 50%, 1.0);
	}
}

@media screen and (max-height: 400px) {
	.miniContainer {
		min-height: 45%;
	}
	.advice-number {
		font-size: 3vh;
	}
	h1 {
		font-size: 4vh;
	}
	.button {
		width: 10vh;
		height: 10vh;
	}
}
